@import "./theme.scss";
// 公共部分
h1 {
  font-size: 4rem;
  font-weight: 500;
  margin: 0;

  a {
    @include label-color;
  }
}
@mixin pc_cover {
  .userMsg {
    text-align: center;
    position: fixed;
    align-self: center;

    ul {
      display: flex;
      justify-content: space-around;
      width: 198px;
      margin: 0 auto;
    }

    .cateList {
      font-size: 23px;
      font-weight: 700;

      a {
        @include label-link-normal-color;
      }

      .normal,
      .focus {
        position: relative;
        padding-bottom: 3px;
        text-align: center;
        @include label-color;

        &:hover {
          cursor: pointer;
          @include label-color;

          .linkLine {
            height: 50%;
            transition: $transition;
          }

          a {
            @include label-color;
          }
        }

        .linkLine,
        .linkFocusLine {
          transition: $transition;
          display: inline-block;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
        }

        .linkLine {
          @include indicator-normal-color;
          height: 5px;
        }
      }

      .focus {
        a {
          @include label-color;
        }

        .linkFocusLine {
          height: 50%;
          @include indicator-high-color;
        }
      }
    }

    .iconList {
      margin-top: 20px;
      .copyBtn {
        cursor: pointer;
      }
      .iconfont {
        font-size: 25px;
      }
    }
  }
}

@mixin mobile_cover {
  .userMsg {
    width: 80%;
    margin: 7rem 0 0 3rem;
    .cateList {
      max-width: 60px;
      padding-left: 0;
      margin: 0;
      margin-top: 20px;
      font-weight: 700;
      font-size: 22px;
      a {
        @include label-link-normal-color;
      }
      .normal,
      .focus {
        position: relative;
        padding-bottom: 3px;
        text-align: center;
        @include label-color;
        margin-bottom: 20px;
        .linkLine,
        .linkFocusLine {
          @include indicator-normal-color;
          height: 5px;
          transition: $transition;
          display: inline-block;
          width: 100%;
          position: absolute;
          bottom: -5px;
          left: 0;
          z-index: 0;
        }
      }
    }
    .iconList {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 50px;
      padding: 0;
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);
      li {
        margin-left: 26px;
      }
      .iconfont {
        font-size: 30px;
      }
    }
  }
}
