@import "./color.scss";
@import "./theme.scss";

.root {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
      background-color: rgba(142, 142, 147, 0.28);
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgba(87, 87, 90, 0.6);
      border-radius: 10px;
    }
  }
}

.layout {
  width: 100vw;
  @include background;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // 移动端
    @media screen and (max-width: $middle) {
      @import "./mobile_layout.scss";
    }

    // pc端
    @media screen and (min-width: $middle) {
      @import "./pc_layout.scss";
    }
  }

  .footer {
    width: 100%;
    text-align: center;
    background-color: #faebd7;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    font-size: 14px;
  }
}
