.left {
  width: 100vw;
  height: 100vh;
  //   position: relative;
  .userMsg {
    width: 80%;
    margin: 5rem 0 0 2rem;
    h1 {
      font-size: 4rem;
      font-weight: 500;
      margin: 0;

      a {
        @include label-color;
      }
    }
    .cateList {
      max-width: 60px;
      padding-left: 0;
      margin: 0;
      font-weight: 700;
      font-size: 22px;
      a {
        @include label-link-normal-color;
      }
      .normal,
      .focus {
        position: relative;
        padding-bottom: 3px;
        text-align: center;
        @include label-color;
        margin-bottom: 5px;
        .linkLine,
        .linkFocusLine {
          @include indicator-normal-color;
          height: 5px;
          transition: $transition;
          display: inline-block;
          width: 100%;
          position: absolute;
          bottom: -5px;
          left: 0;
          z-index: 0;
        }
      }
    }
    .iconList {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 50px;
      padding: 0;
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);
      li {
        margin-left: 26px;
      }
      .iconfont {
        font-size: 30px;
      }
    }
  }
}
.right {
  display: none;
}
